# PDF Slide Deck
Vera_Presentation.pdf

# Python Virtual Environments
**/.venv/
.venv/
venv/

# Python Cache Directories
**/__pycache__/
__pycache__/
*.pyc
**/*.pyc

# Databases
**/*.db
*.db

# Node / Next.js builds
**/.next/
**/node_modules/
frontend/out/
frontend/build/
.next/
node_modules/

# OS specific files
.DS_Store
Thumbs.db
